@model UpdatePopulerLocationDTO
@{
    ViewData["Title"] = "UpdateLocation";
    Layout = "~/Views/Admin/Index.cshtml";
}



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Lokasyon Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="LocationID" />
                    <label>Kategori Adı</label>
                    <input type="text" asp-for="CityName" class="form-control" />
                    <br />
                    <label>Görsel</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <br />
                    <button class="btn btn-light m-2">Lokasyonu Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
