@model UpdateCategoryDTO
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Kategori Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="CategoryID" />
                    <label>Kategori Adı</label>
                    <input type="text" asp-for="CategoryName" class="form-control" />
                    <br />
                    <label>Kategori Durumu</label>
                    <select asp-for="CategoryStatus" class="form-control">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>
                    </select>
                    <button class="btn btn-light m-2">Kategoriyi Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>


